#spark-client/jdk-22/lib/modules
#spark-client/spark-3.5.1-bin-hadoop3/jars/bundle-2.23.19.jar
#spark-client/spark-3.5.1-bin-hadoop3/jars/aws-java-sdk-bundle-1.12.733.jar

spark-client/*
minio-data/*
minio-data/**/.[!.]*

!spark-client/placeholder
!minio-data/placeholder


